<app-movie-card name = "Avengers: Endgame" year = "Release date: April 22, 2019" icon = "https://upload.wikimedia.org/wikipedia/en/0/0d/Avengers_Endgame_poster.jpg"></app-movie-card>
<app-movie-card name = "Stalker" year = "Release date: 25 May 197" icon = "https://upload.wikimedia.org/wikipedia/en/thumb/d/d4/Stalker_poster.jpg/220px-Stalker_poster.jpg"></app-movie-card>
<app-movie-card name = "The Matrix" year = "Release date: March 24, 1999 " icon = "https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/The_Matrix_Poster.jpg/220px-The_Matrix_Poster.jpg"></app-movie-card>
